/*Here I initialize my background color and the
alignment of my text throughout the website.*/

body {
    background-color:#FFCCCC;
    text-align: center;
}

/*This section customizes my image and its sizing as well
as adds a border around the image.*/

img {
    border: 10px solid #DAF7A6;
    border-radius: 10px;
    max-width: 20%;
    height: auto;
  }

/* The following sections determine my 
font, text size, and their colors.*/

p{font-family:Georgia, 'Times New Roman', Times, serif;
font-size: large;}
h1{
    color: #C70039;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font: size 50px;
}
h2{
    color: #FF5733;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font: size 45px;
}
/* The following sections take my lists and wrap them 
in order to have a center alligned bullet list.*/

div.Skills {
    text-align: center;
  }
  
  ul.mySkills {
    display: inline-block;
    text-align: left;
  }
  div.Hobbies {
    text-align: center;
  }
  
  ul.myHobbies {
    display: inline-block;
    text-align: left;
  }
  div.Interests {
    text-align: center;
  }
  
  ul.myInterests {
    display: inline-block;
    text-align: left;
  }

  /*This determines the border and margins of my website.*/

  body {
    width: 1310px;
    padding: 10px;
    border: 10px solid #DAF7A6;
    margin: 0;
  }

  /*The next couple of sections alter my links and how
  they are presented.*/

  a {
    color:#C70039;
    text-decoration: none;
    font-size: large;
  }
  a:hover {
    color:chartreuse;
    background-color:blueviolet;
  }
